.bd-navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--tertiary-color);
}

.bd-navbar__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
    font-family: var(--font-title);
}

.bd-navbar__links {
    display: flex;
    gap: 2rem;
}

.bd-navbar > button {
    margin-left: auto;
}
