.bd-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--tertiary-color);
}

.bd-navbar__links {
    display: flex;
    gap: 2rem;
}
