.bd-bar {
    --bar-color: var(--primary-color);

    width: 100%;
    border-radius: var(--base-border-radius);
    border: none;
    background: linear-gradient(
            90deg,
            transparent,
            var(--bar-color) 20%,
            var(--bar-color) 80%,
            transparent
    );
}

.bd-bar.bd-primary {
    --bar-color: var(--primary-color);
}

.bd-bar.bd-secondary {
    --bar-color: var(--secondary-color);
}

.bd-bar.bd-tertiary {
    --bar-color: var(--tertiary-color);
}

.bd-bar.bd-white {
    --bar-color: var(--white-color);
}
